/data/rotterdam.bus.largest.pbfe filter=lfs diff=lfs merge=lfs -text
../data/rotterdam.bus.largest.pbf filter=lfs diff=lfs merge=lfs -text
/data/rotterdam.bus.largest.pbf filter=lfs diff=lfs merge=lfs -text
